<section>
    <footer class="footer bg-dark text-light mt-5 mb-1 mx-1 pb-2">
        <div class="container">
            <a href="http://www.codecipe.com" target="_blank">
                <p class="text-muted small pt-3 text-center">Copyright &copy; Codecipe LLC 2019</p>
            </a>
        </div>
    </footer>
</section>