<section>
    <nav class="p-3 navbar-light bg-light text-center mb-5">
        <div class="navbar-brand mb-0 h1"><i class="fas fa-utensils"></i><span class="ml-2">Bodega Menu</span></div>
    </nav>
</section>